<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<!-- Initialization for data source -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/valueslist" />
		<property name="username" value="root" />
		<property name="password" value="test" />
	</bean>

	<bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource" /> <!-- class does not have setDataSource method... -->
	</bean>

	<bean id="pagingSupport" class="com.pelletier.valuelist.paging.MySQLPagingSupport"/>

	<!-- Velocity query parameter mapper -->
	<bean id="velocityQueryParameterMapper" class="com.pelletier.valuelist.transformer.VelocityQueryParameterMapper" />
	
	<!-- defaultJdbcRowMapper -->
	<bean id="defaultJdbcRowMapper" class="org.springframework.jdbc.core.ColumnMapRowMapper" />
	
	<bean id="defaultPagingInfo" class="com.pelletier.valuelist.PagingInfo">
		<property name="page" value="1"/>
		<property name="numberPerPage" value="15"/>
	</bean>
	
	<!-- parent map for paramType -->
	 <bean id="globalParamTypeMap" class="org.springframework.beans.factory.config.MapFactoryBean">
		<property name="sourceMap">
		    <map>
		    	<entry key="startDate" value="java.util.Date" />
		    </map>
		</property>
	</bean>
	
	<!-- String to Date Converter -->
	<bean id="defaultStringToDateConverter" class="com.pelletier.valuelist.util.DefaultStringToDateConverter">
		<property name="stringDateFormat" value="MM-DD-YYYY"/>
	</bean>
	
	<!-- parent list for converters -->
	<bean id="globalConverterList" class="org.springframework.beans.factory.config.ListFactoryBean">
	    <property name="sourceList">
	        <list>
	        	<ref bean="defaultStringToDateConverter"/>
	        </list>
	    </property>
	</bean>
	
	<!-- jdbcDataAdapterParameterConversionService -->
	<bean id="parameterConversionService" class="com.pelletier.valuelist.util.ParameterConversionService">
		<property name="paramTypeMap">
			<bean id="localParamTypeMap" parent="globalParamTypeMap" class="org.springframework.beans.factory.config.MapFactoryBean">
				<property name="targetMapClass">
					<value>java.util.HashMap</value>
				</property>
				<property name="sourceMap">
					<map merge="true">
						<entry key="intField" value="java.lang.Integer"/>
					</map>
				</property>
			</bean>
		</property>
 		<property name="converters">
			<bean id="localConvertersList" parent="globalConverterList" class="org.springframework.beans.factory.config.ListFactoryBean">
			    <property name="sourceList">
			        <list merge="true">
			        </list>
			    </property>
			</bean>
		</property>
	</bean>

	<bean id="defaultJdbcDataAdapter" class="com.pelletier.valuelist.adapter.jdbc.DefaultJdbcDataAdapter">
		<property name="sql">		
			<value>
				SELECT * FROM employees.employees #if($birth_date)WHERE birth_date &lt; Date(:birth_date)#end
			</value>
		</property>
		<property name="queryParameterMapper" ref="velocityQueryParameterMapper" />
		<property name="namedParameterJdbcTemplate" ref="namedParameterJdbcTemplate" />
		<property name="pagingSupport" ref="pagingSupport"/>
		<property name="rowMapper" ref="defaultJdbcRowMapper"/>
		<property name="adapterConversionService" ref="parameterConversionService">
		</property>
		<property name="defaultPagingInfo" ref="defaultPagingInfo"/>
	</bean>
	
	

	<bean id="valueListService" class="com.pelletier.valuelist.DefaultValuesListService">
		<property name="adapters">
			<map>
				<entry key="query" value-ref="defaultJdbcDataAdapter" />
			</map>
		</property>
	</bean>

</beans>