<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

	<!-- Initialization for data source -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/valueslist" />
		<property name="username" value="root" />
		<property name="password" value="test" />
	</bean>

	<bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg ref="dataSource" /> <!-- class does not have setDataSource method... -->
	</bean>

	<bean id="pagingSupport" class="com.pelletier.valuelist.paging.MySQLPagingSupport"/>

	<!-- Velocity query parameter mapper -->
	<bean id="velocityQueryParameterMapper" class="com.pelletier.valuelist.transformer.VelocityQueryParameterMapper" />
	
	<!-- defaultJdbcRowMapper -->
	<bean id="defaultJdbcRowMapper" class="com.pelletier.valuelist.adapter.jdbc.DefaultJdbcRowMapper" />
	
	<!-- testPOJOMapper -->
	<bean id="testPOJOMapper" class="com.pelletier.valuelist.adapter.jdbc.TestPOJOMapper" />

	<bean id="defaultJdbcDataAdapter" class="com.pelletier.valuelist.adapter.jdbc.DefaultJdbcDataAdapter">
		<property name="sql">
			<value>SELECT * FROM test #if($intField) WHERE intField = :intField#end</value>
		</property>
		<property name="queryParameterMapper" ref="velocityQueryParameterMapper" />
		<property name="namedParameterJdbcTemplate" ref="namedParameterJdbcTemplate" />
		<property name="pagingSupport" ref="pagingSupport"/>
		<property name="rowMapper" ref="testPOJOMapper"/>
	</bean>

	<!-- if name is a key, create a name filefilter and filter results on that -->
	<bean id="defaultFileSystemAdapter" class="com.pelletier.valuelist.adapter.filesystem.DefaultFileSystemAdapter">
		<property name="path" value="/"/>
		<property name="baseDirectory" value="C:\Users\578993\Desktop\testDir"/>
	</bean>


	<bean id="valueListService" class="com.pelletier.valuelist.DefaultValuesListService">
		<property name="adapters">
			<map>
				<entry key="query" value-ref="defaultJdbcDataAdapter" />
				<entry key="query2" value-ref="defaultFileSystemAdapter"/>
			</map>
		</property>
	</bean>

</beans>